:root {
  --textarea-height: 50px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#main-container {
  width: 98%;
}

button {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background: var(--vscode-button-hoverBackground);
}
