/* body {
  margin: 0;
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
} */

:root {
  --textarea-height: 50px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

button {
  /* border-radius: 0px; */
  /* padding: 8px 16px; */
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background: var(--vscode-button-hoverBackground);
}
